include README.rst
include LICENSE

# Add test config files to show how to run tests
include tox.ini
include requirements*.txt

# Include all files under the tests directory (including test data)
graft tests

# Exclude all files anywhere in the source tree matching any of these patterns
global-exclude *.py[cod] .DS_Store .coverage */htmlcov/* */__pycache__/*
