Source: python-securesystemslib
Section: devel
Priority: optional
Maintainer: NYU Secure Systems Lab <securesystemslab@googlegroups.com>
Uploaders:
 Santiago Torres-Arias <santiago@nyu.edu>,
 Holger Levsen <holger@debian.org>,
 Lukas Puehringer <lukas.puehringer@nyu.edu>,
 Justin Cappos <jcappos@nyu.edu>,
Build-Depends:
 python,
 python-nacl,
 python-cryptography,
 dh-python (>= 2.20160818~),
 dpkg-dev (>= 1.17.14),
Standards-Version: 4.1.1
Homepage: https://ssl.engineering.nyu.edu
Vcs-Git: https://github.com/secure-systems-lab/securesystemslib.git
Vcs-Browser: https://github.com/secure-systems-lab/securesystemslib/

Package: python-securesystemslib
Architecture: all
Depends:
 dh-python,
 python-cryptography,
 python-nacl,
Description: A secure cryptography and general purpose library for python.

Package: python3-securesystemslib
Architecture: all
Depends:
 dh-python,
 python3-cryptography,
 python3-nacl,
Description: A secure cryptography and general purpose library for python
 (python 3 version).
