#!/usr/bin/make -f

export PATH := $(CURDIR)/bin:$(PATH)
export PYBUILD_DESTDIR = debian/python-securesystemslib
export PYBUILD_SYSTEM=distutils
export PYBUILD_TEST_ARGS = tests
export PYBUILD_NAME = securesystemslib

%:
	dh $@ --with python2,python3 --buildsystem=pybuild
