name: Run AWS KMS tests

on:
  push:
  pull_request:

permissions: {}

jobs:
  local-aws-kms:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout securesystemslib
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: '3.x'
          cache: 'pip'
          cache-dependency-path: 'requirements*.txt'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade tox

      - name: Run tests
        run: tox -e local-aws-kms
