name: Run Sigstore Signer tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions: {}

jobs:
  test-sigstore:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout securesystemslib
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938

      - name: Set up Python
        uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3
        with:
          python-version: '3.x'
          cache: 'pip'
          cache-dependency-path: 'requirements*.txt'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade tox

      - run: |
          tox -e sigstore
